.typing-test-box {
    font-size: 24px;
    color: rgba(211, 211, 211, 0.6) !important;
    padding: 20px;
    border-radius: 8px;
}

.correct-letter {
    color: #f0f0f0 !important;
}

.incorrect-letter {
    color: red !important;
}

.untyped-letter {
    color: rgba(211, 211, 211, 0.6) !important; 
}

.caret {
    display: inline-block;
    width: 2px; 
    height: 1.2em; 
    background-color: #ecec3d;
    animation: blink 1s step-end infinite;
    position: relative; 
    transform: translateY(0.25em);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}